<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
  <base target="_top">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <!-- <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1__noaYifc3prBiga9d40Qe7h2eOBlHzd"> -->

  <title>Login</title>

</head>

<body>

  <div id="msform">
    <a href="https://www.ownourenergy.com/">
      <img class="top-image" src="./own+menu+logo-removebg-preview.png"
        style="line-height: 1;width: 250px; margin: 10px; text-align:center;" alt="Own Energy">
    </a>




    <form action="./login" method="post">
      <fieldset>
        <h1 style="color: #fff;font-size: 1.5em;">LOGIN TO CONTINUE</h1>
        <input id="email" maxlength="80" name="email" size="20" type="email" placeholder="Email" /><br>
        <input id="password" maxlength="80" name="password" size="20" type="password" placeholder="Password" />
        <input class="action-button" size="20" type="submit" value="LOGIN" />
      </fieldset>

    </form>
  </div>

</body>

</html>