<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">

    <title>Password Reset</title>
    
    <style>
        .fs-title {
            font-size: 1.7em;
            text-transform: uppercase;
            color: #fff;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    </style>

</head>

<body onload="getUserId()">

    <div id="msform">
        <a href="https://www.ownourenergy.com/">
            <img class="top-image" src="../own+menu+logo-removebg-preview.png"
                style="line-height: 1;width: 250px; margin: 10px; text-align:center;" alt="Own Energy">
        </a>

        <form method="POST" action="/passwordReset">
            <fieldset>
                <h2 class="fs-title">PASSWORD RESET</h2>
                <p  class="fs-title" style="font-size:0.8em;color: #fff">Your password must be at least 8 characters long and contain 1 Uppercase and 1 lowercase letter, and 1 number.</p>
                </br>
                
                <input type="hidden" name="hashesId" id="hashesId">

                <input type="password" name="password" id="password" placeholder="New Password..."
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    oninput="validate()" required>
                <span class="validateSVG">
                    <span class="svg-container" id="successGuideCheckMark" style="margin-right: -40px; display: none;position: relative;top:-0.8rem;right:5%">
                        <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                            viewBox="0 0 48 48" aria-hidden="true">
                            <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22" />
                            <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17" />
                        </svg>
                    </span>
                    <span class="svg-container" id="failsGuideCheckMark"
                        style="margin-right: -40px; display: inline-block;position: relative;top:-0.8rem;right:5%">
                        

                        <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                            viewBox="0 0 48 48" aria-hidden="true">
                            <circle class="circle" fill=#F03404 cx="24" cy="24" r="22" />
                            <line x1="15" y1="9" x2="9" y2="15" fill=#FFF x="24" cy="24" r="22"></line>
                            <line x1="9" y1="9" x2="15" y2="15" fill=#FFF x="24" cy="24" r="22"></line>
                        </svg>
                    </span>
                </span>


                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password..."
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must match the above password"
                    oninput="validate()" required>
                <span class="validateSVG">
                    <span class="svg-container" id="successMatchedCheckMark"
                        style="margin-right: -40px; display: none;position: relative;top:-0.9rem;right:5%">
                        <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                            viewBox="0 0 48 48" aria-hidden="true">
                            <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22" />
                            <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17" />
                        </svg>
                    </span>
                    <span class="svg-container" id="failedMatchedCheckMark"
                        style="margin-right: -40px; display: inline-block;position: relative;top:-0.9rem;right:5%">
                        <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="30" width="30"
                            viewBox="0 0 48 48" aria-hidden="true">
                            <circle class="circle" fill=#F03404 cx="24" cy="24" r="22" />
                            <line x1="15" y1="9" x2="9" y2="15" fill=#FFF x="24" cy="24" r="22"></line>
                            <line x1="9" y1="9" x2="15" y2="15" fill=#FFF x="24" cy="24" r="22"></line>
                        </svg>
                    </span>
                </span>


                <input class="action-button" id="submit" size="20" type="submit" value="SUBMIT" />


            </fieldset>
        </form>
    </div>

    <div id="myDiv">

    </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>

<script>
    function getUserId() {
        const urlParams = new URLSearchParams(window.location.search);
        $('#hashesId').val(urlParams.get('hashesId'))
    }


</script>

<script>
    var passwordInput = document.getElementById("password");
    var confirmPasswordInput = document.getElementById("confirmPassword");

    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    passwordInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    passwordInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    function validate() {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        var hasLowerCase = passwordInput.value.match(lowerCaseLetters);

        var upperCaseLetters = /[A-Z]/g;
        var hasUpperCase = passwordInput.value.match(upperCaseLetters);

        var numbers = /[0-9]/g;
        var hasNums = passwordInput.value.match(numbers);

        var hasGoodLength = passwordInput.value.length >= 8;

        console.log(hasLowerCase != null)
        console.log(hasUpperCase != null)
        console.log(hasNums != null)
        console.log(hasGoodLength)

        if (hasLowerCase != null && hasUpperCase != null && hasNums != null && hasGoodLength) {
            document.getElementById('failsGuideCheckMark').style.display = 'none';
            document.getElementById('successGuideCheckMark').style.display = 'inline-block';
        } else {
            document.getElementById('failsGuideCheckMark').style.display = 'inline-block';
            document.getElementById('successGuideCheckMark').style.display = 'none';
        }
        var submitButton = document.getElementById("submit");

        if (passwordInput.value != confirmPasswordInput.value) {
            submitButton.disabled = true;
            document.getElementById('failedMatchedCheckMark').style.display = 'inline-block';
            document.getElementById('successMatchedCheckMark').style.display = 'none';
        } else {
            submitButton.disabled = false;
            document.getElementById('failedMatchedCheckMark').style.display = 'none';
            document.getElementById('successMatchedCheckMark').style.display = 'inline-block';
        }

    }

</script>